@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html,
body {
    height: 100%;
    font-size: 16;
}

@keyframes l_shad-anim {
    0% {
        background-position: 0 0;
    }
    0% {
        background-position: 100% -100%;
    }
}

#loader .loader-box {
    display: flex;
    position: relative;
    overflow: hidden;
}

#loader .loader-box > p {
    display: inline-block;
    color: white;
    font-family: 'MaplestoryOTFBold', serif;
    font-size: 12em;
    text-shadow: 0.03em 0.03em 0 hsla(230, 40%, 50%, 1);
}
#loader .loader-box > p:after {
    content: attr(data-shadow);
    position: absolute;
    top: 0.06em;
    left: 0.06em;
    z-index: -1;
    text-shadow: none;
    background-image: linear-gradient(45deg, transparent 45%, hsla(48, 20%, 90%, 1) 45%, hsla(48, 20%, 90%, 1) 55%, transparent 0);
    background-size: 0.05em 0.05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: l_shad-anim 15s linear infinite;
}

#loader {
    z-index: 10001;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #151314;
    background: #151314;
    animation: l_color 0.6s forwards 0.6s;
    animation-delay: 0.6s;
}

@keyframes l_color {
    from {
        color: #151314;
    }
    to {
        color: #fff;
    }
}

#loader .loader-box {
    display: flex;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#febf00, #febf00 0) no-repeat, linear-gradient(to right, #febf00, #febf00 0) no-repeat, linear-gradient(to right, #febf00, #febf00 0) bottom left no-repeat,
        linear-gradient(to right, #febf00, #febf00 0) bottom left no-repeat, linear-gradient(#febf00, #febf00 0) bottom right no-repeat, linear-gradient(#febf00, #febf00 0) bottom right no-repeat,
        linear-gradient(#febf00, #febf00 0) top right no-repeat, linear-gradient(#febf00, #febf00 0) top right no-repeat;
    background-size: 10px 2px, 2px 10px, 2px 10px, 10px 2px, 2px 10px, 10px 2px, 10px 2px, 2px 10px, 10px 2px;
    padding: 1rem;
}

#loader .loader-box > p {
    margin: 0 0.3rem;
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.3;
}

#loader .blurBox {
    width: 250%;
    height: 6rem;
    display: flex;
    position: absolute;
    left: 6rem;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: l_move 1.8s forwards cubic-bezier(0.96, 0.39, 0.64, 0.93);
    animation-delay: 1s;
}

@keyframes l_move {
    from {
        left: 6rem;
    }
    to {
        left: 250%;
    }
}

#loader .blurBox > div {
    height: 100%;
    position: relative;
}

#loader .blur {
    width: calc(50% - 6rem);
    background: #151314;
    opacity: 1;
    animation: l_opacity 0.4s forwards ease-in-out;
    animation-delay: 0.8s;
}

@keyframes l_opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.97;
    }
}

#loader .blurBox > .show-txt {
    width: 0.6rem;
    animation: l_scale 0.2s 0.6s forwards ease-in-out, l_scale2 1s 1s forwards;
    opacity: 0;
}

@keyframes l_scale {
    from {
        transform: scale(0.1);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes l_scale2 {
    from {
        width: 1rem;
    }
    to {
        width: 6rem;
    }
}

#loader .blurBox > .show-txt::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20px;
    background: #febf00;
    box-shadow: 0 0 70px 20px #febf00;
    clip-path: inset(0);
}
